# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.venv/
env/
.env/

# PyInstaller build output
build/
dist/
*.spec

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log
